html, body {
    height: 100%;
    margin: 0;
    background-image: url('/images/anasayfa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
