@{
    ViewData["Title"] = "Ana Sayfa";
    ViewData["BodyClass"] = "home-background";
}



<div class="container text-center mt-5  page-wrapper">
    <h1 class="display-4 mb-5">📚 Kütüphane Uygulaması</h1>

    <div class="d-flex justify-content-center gap-4">
        <a href="/Book/List" class="btn btn-primary btn-lg px-5">Kitapları Görüntüle</a>
        <a href="/Author/List" class="btn btn-secondary btn-lg px-5">Yazarları Görüntüle</a>
    </div>
</div>
